footer
  p.section-name Статті щотижня
  p.info Більше 90% учнів пройшли повний курс та змогли<br> зібрати свій перший комп'ютер
  form(action="index.php", method="post") 
    input(type="email" placeholder="E-mail")
  .flex 
    div
      img(src="img/wk_logo.png", alt="")
    div
      img(src="img/youtube_logo.png", alt="")
    div
      img(src="img/facebook_logo.png", alt="")
    div
      img(src="img/instagram_logo.png", alt="")