header
  .header-line
    .logo
      a(href="/") 
        img(src="img/logo.png")
    nav 
      ul
        li
          a(href="#") Головна
        li
          a(href="#") Курси
        li
          a(href="#") Розклад
        li
          a(href="#") Викладачі
        li
          a(href="#") Розсилка
        li
          a(href="#") Контакти
    .login-button
      a(href="#") Зайти до кабінету

  .header-info 
    h1 Перший курс
      br 
      | з комп'ютерного збирання
    .time
      .day
        p 18
          span Днів
      .hours
        p 18
          span Годин
      .minute
        p 18
          span Хвилин
      .seconds
        p 18
          span Секунд

  .header-bottom-line
    .header-wrapper
      .button
        a Замовити курс
      .students
        div
          p Учнів всього:
          span 200
        div
          p Успішно закінчили курс:
          span 190
      .earned-by-students-content
        .earned-by-students
          p Зароблено учнями:
          span 400 000₽
        .line
          span
        .price
          p 0
          p 1 000 000₽